
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

.modal-content {
    width: 500px;
    height: 500px;
    background-color: black;
    outline: none;
    border: 0.2rem solid #02e233;
    box-shadow: 0 0 .2rem #02e233,
    0 0 .2rem #02e233,
    0 0 1rem #02e233;
    transition: background-color 0.15s ease, box-shadow 0.15s ease;
    border-radius: 10px;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal.active .modal-content {
    transform: scale(1);
}