<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexedDB App</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_hardware.css">
    <link rel="icon" href="database+76-131988545497319222.png">

</head>
<body>
    <div class="page-landing">
        <div class="return neonTextGreen">
            <a href="../index.html"><button id="return">Voltar</button></a>
          </div>
        <div class="mainpanel">
            <div class="control-panel">
                <div class="paneltitle">
                    <div class="parafuso um"></div>
                    <div class="parafuso dois"></div>
                    <p>Palavras-chave</p>
                    <div class="parafuso tres"></div>
                    <div class="parafuso quatro"></div>
                </div>
                <div class="buttons">
                    <div class="n1-buttons">
                        <button id="n1" onclick="listarPalavrasChave(this.id)">Nível 1</button>
                        <button id="n1-state"></button>
                    </div>
                    <div class="n2-buttons">
                        <button id="n2" onclick="listarPalavrasChave(this.id)">Nível 2</button>
                        <button id="n2-state"></button>
                    </div>
                    <div class="n3-buttons">
                        <button id="n3" onclick="listarPalavrasChave(this.id)">Nível 3</button>
                        <button id="n3-state"></button>
                    </div>
                    
                </div>
                <div class="log-panel">
                    <div id="keywords-area">

                    </div>
                </div>
            </div>
        </div>
        <div class="fios">
            <img src="../images/fios.png" alt="fios" class="fiosimg">
          </div>
        <div class="querypanel">
            <div class="queryarea">
                <div class="query-results">
                    <textarea id="querytextarea" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../scripts/keywords.js"></script>
</body>
</html>